html {
    scroll-behavior: auto !important; 
}

body {
    padding: 0;
    margin: 0;
    background-color: black;

}
/* Navbar*/
.navbar {
    background-color: #0dcaf0;
    position: solid;
    width: 100vw;
    z-index: 1;
}

.navbar-brand {
    font-size: 40px;
    font-family: "Raleway";
    font-weight: 300;

}

/*columnas*/

#QuienesSomos {
    background-color: black;
    font-family: "Raleway";
    font-weight: 300;
    display: inline-block;
}
#QuienesSomos h4 {
    font-family:"Raleway";
}
.icono {
    background-color: #0dcaf0 ;
    color: #ffffff;
}

.texto {
    color: #ffffff;
}

/*Cards*/

#Destacados h4 {
    font-family:"Raleway" ;
    font-weight: 300;
    
    
}

#Destacados .card-body {
    background-color:#0dcaf0;
    
}

.card-img-top {
    height: 12rem;
    
}
.card-title {
    font-size: 20px;
}

#Contacto h4 {
    font-family:"Raleway";
    font-weight: 300;
}

/*forms contacto*/

.btn {
    background-color:#0dcaf0 ;
}